#fightContainer {
  margin-top: 100px;
}

.fighters {
  border: 1px red solid;
}

.withdrawBtn {
  margin-left: 0px;
  margin-top: 25px; 
  float: right;
}

#fightBtn {
  margin-top: 40vh;
  
}

#letterBtn {
  margin-bottom: 50vh;
}

@media only screen and (max-width: 600px) {
  #fightBtn {
    margin-top: 15vh;
  }
}